#footer {
    background-color: #eee !important;
    position: absolute;
    bottom: -50px;
    width: 100vw;

    p,
    a {
        font-size: 1.2rem;
        margin: 1rem 0;
        min-height: 100%;
    }
    .right_align {
        text-align: right;
    }
}
