@mixin header-color() {
  color: #777;
  opacity: .8;
}
#header {
  // display: flex;
  border: solid black 1px;
  // background-color: transparentize(blue, .2);
  .right {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    h1 {
      margin-right: 30.3333%;
      @include header-color();
    }
    .login_btn {
      @include header-color();
    }
    ul {
      display: flex;
      align-items: center;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        a {
          color: #222;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 620px) {
  #header {
    height: 120px;
    .right {
      flex-direction: column;
      align-items: flex-end;
      margin: 0;
    }
    h1 {
      margin-right: 0 !important;
    }
    &.landing_header {
      height: 80px;
      .right {
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
