@mixin header-color() {
  color: #777;
  opacity: .8;
}
#header {
  border: solid black 1px;
  height: 80px;
  .logo {
    width: 100%;
    text-align: center;
  }
  .login_btn {
    position: absolute;
    width: 25px;
    height: 22px;
    right: 50px;
    top: 30px;
  }
  h1,
  .login_btn {
    @include header-color();
  }
  a {
    color: #222;
    &.menu-item {
      color: white;
    }
    &:hover {
      opacity: 0.5;
    }
  }
}
@media screen and (max-width: 620px) {
  #header {
    height: 120px;
    .logo {
      text-align: right;
      padding: 0 27px 0 0;
    }
    &.landing_header {
      height: 80px;
      .login_btn {
        top: 30px;
      }
    }
    .login_btn {
      top: 70px;
    }
  }
}
