#header {
  .right {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    ul {
      display: flex;
      align-items: center;
      li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        a {
          color: #222;
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
