@import 'media_queries.scss';
.kids_pond_image {
    height: 450px;
    &:after {
        content: "";
        background-image: url('../assets/kids_pond.png');
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
        @include xs-screen {
            background-position: (30% 0);
        }
    }
}
