.landing {
  position: relative;
  height: calc(100vh - 100px);
  padding: 60px 0 0;
  .header {
    margin-bottom: 50px;
  }
  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 36px;
    font-size: 0.85rem;
  }
}
