.landing {
  position: relative;
  height: calc(100vh - 80px);
  padding: 60px 0 0;
  &:after {
    content: "";
    background-image: url('./landing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(20%);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  a.link {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
}
