.wrapper {
  padding-bottom: 60px;
}
.main-content {
  padding-top: 80px;
}
.wrapper,
.wrapper_landing {
  min-height: 100vh;
  position: relative;
  .footer {
    background-color: #aaa;
    opacity: .7;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    border: solid black 1px;
    height: 50px;
    h4 {
      font-size: 1rem;
      color: white;
      margin: 0;
      letter-spacing: 0.08rem;
    }
  }
  @media screen and (max-width: 593px) {
    .footer {
      justify-content: center;
      h4 {
        &:first-child {
          display: none;
        }
      }
    }
  }
}
.content {
  .sub_header,
  .sub_content .sub_header {
    text-align: center;
    color: #333;
    &:first-child {
      margin: 50px 0 20px;
    }
  }
  .list {
    padding: 40px 20% 50px;
    &:last-child {
      margin-bottom: 30px;
    }
    background-color: blue;
    opacity: .5;
    .list-item,
    .list-item p,
    .list-item p span,
    label {
      padding: 8px 0;
      display: flex;
      color: white;
      font-size: 1.3rem;
    }
    .list-item p {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      margin: 0;
      .left {
        font-size: 1.1rem;
      }
      .right {
        font-size: 0.75rem;
      }
    }
    label {
      border-bottom: solid #ddd 1px;
      letter-spacing: 0.25rem;
    }
  }
  .text {
    line-height: 1.8rem;
    text-align: justify;
    padding: 0 5% 30px;
    .warning {
      color: red;
    }
    .monster_cats {
      color: blue;
      font-weight: 600;
    }
  }
}
h3.sub_header {
  border: solid black 1px;
  padding: 25px 0;
  margin: 0 !important;
}
