* {
    box-sizing: border-box;
}
html,
body {
    margin: 0;
    padding: 0;
}

* {
    color: #111;
    font-size: 1.75rem;
    letter-spacing: 0.05rem;
    font-family: 'Raleway', sans-serif;
}
.bold {
    font-weight: 600;
}
.small_text {
    font-size: 1.3rem;
}
ul {
    padding: 0;
}
// .navbar-header {
//   max-width: 100vw;
// }
// .navbar-toggle {
//   margin-right: 30px !important;
// }
a:focus,
button {
    outline: none !important;
}
@import 'header.scss';
@import 'location.scss';
@import 'admissions.scss';
@import 'kids_pond.scss';
@import 'contact.scss';
@import 'home.scss';
@import 'our_fish.scss';
@import 'gallery.scss';
@import 'rules.scss';
@import 'footer.scss';
