* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

* {
  color: #222;
  letter-spacing: 0.035rem;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}
@import 'header.scss';
@import 'hamburger.scss';
@import 'landing.scss';
