* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}

* {
  color: #111;
  letter-spacing: 0.035rem;
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
  &.link {
    &:hover {
      background-color: white;
      opacity: 0.5;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col {
  flex-direction: column;
}
@import 'header.scss';
@import 'hamburger.scss';
@import 'landing.scss';
@import 'landing_title.scss';
