.reviews {
  border-top: none;
  position: relative;
  margin-top: -30px;
  background-color: #777;
  max-width: 100% !important;
  &.no_scroll {
    max-height: calc(100vh - 130px);
    overflow: hidden;
  }
  .buttons_wrapper {
    position: fixed;
    left: 0;
    top: 153px;
    height: 70px;
    background-color: white;
    width: 100%;
    border-bottom: solid #777 1px;
    padding: 0 30px;
    .buttons {
      width: 100%;
      max-width: 900px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .leave_review.btn {
        font-weight: 600;
        border-radius: 4px;
        padding: .5rem .65rem;
        border: solid #ccc 1px;
        cursor: pointer;
      }
    }
  }
  .reviews_list {
    padding-top: 70px;
  }
  .modal {
    position: absolute;
  }
}
