.reviews_detail {
  border: solid #777 1px;
  border-radius: 4px;
  width: 90%;
  max-width: 800px;
  margin: 40px auto;
  padding: 40px 40px 30px 40px;
  background-color: white;
  box-shadow: inset 0px 0px 20px 10px rgba(217, 217, 217, 1);
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      border-bottom: solid #aaa 1px;
      padding: 0 30% 2px 0.25rem;
      margin-right: 30px;
    }
  }
  .btm {
    margin-top: 20px;
    p {
      margin-bottom: 0;
    }
    .review_text {
      border: solid #d9d9d9 1px;
      border-radius: 4px;
      width: 100%;
      padding: 0.75rem;
      line-height: 1.5rem;
      letter-spacing: 0.06rem;
      box-shadow: 0px 8px 20px -5px rgba(217, 217, 217, 1);
    }
    .date_string {
      margin-top: 2.5rem;
      color: #777;
      font-size: 0.9rem;
      text-align: right;
    }
  }
}
