.reviews {
  border-top: none;
  position: relative;
  margin-top: -30px;
  &.no_scroll {
    // margin-top: 80px;
    max-height: calc(100vh - 80px);
    overflow: hidden;
  }
  .buttons {
    position: fixed;
    height: 70px;
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #777 1px;
    padding: 0 30px;
    .leave_review.btn {
      font-weight: 600;
      border-radius: 4px;
      padding: .5rem .65rem;
      border: solid #ccc 1px;
      cursor: pointer;
      // display: inline-block;
    }
  }
  .reviews_list {
    padding-top: 70px;
  }
  .modal {
    position: absolute;
  }
}
