@import 'media_queries.scss';

.rules {
    .buttons {
        text-align: right;
        margin-top: 2rem;
        button {
            margin-left: 2rem;
        }
    }
    .rules_list {
        margin-top: 3rem;
    }
}
